
[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = true

# ReSharper properties
resharper_csharp_max_line_length = 300
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_chained_method_calls = chop_if_long
resharper_csharp_wrap_lines = false
resharper_int_align_assignments = false
resharper_keep_existing_invocation_parens_arrangement = false
resharper_keep_existing_linebreaks = false
resharper_keep_existing_property_patterns_arrangement = false
resharper_max_attribute_length_for_same_line = 300
resharper_max_initializer_elements_on_line = 3
resharper_nested_ternary_style = compact
resharper_place_field_attribute_on_same_line = if_owner_is_single_line
resharper_place_simple_accessorholder_on_single_line = true
resharper_wrap_array_initializer_style = chop_if_long
resharper_wrap_chained_binary_expressions = chop_if_long
