.video-statistics {
  text-align: center;

  .text-dark {
    font-size: 0.7rem;
    display: block;
    font-family: 'LincolnProximaNova';
  }

  .text-secondary {
    font-family: 'fordngbs-antenna-bold';
    font-size: 0.85rem;
    display: block;
  }
}
