.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

.overflow-inherit {
  overflow: inherit !important;
}

.overflow-initial {
  overflow: initial !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.overflow-x-scroll {
  overflow-x: scroll !important;
}

.overflow-x-scroll {
  overflow-x: scroll !important;
}

.overflow-x-inherit {
  overflow-x: inherit !important;
}

.overflow-x-initial {
  overflow-x: initial !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.overflow-y-scroll {
  overflow-y: scroll !important;
}

.overflow-y-scroll {
  overflow-y: scroll !important;
}

.overflow-y-inherit {
  overflow-y: inherit !important;
}

.overflow-y-initial {
  overflow-y: initial !important;
}
