:host {
    footer {
        .search {
            background-color: #343434;
            padding: 35px 0 !important;
            form {
                font-size: 1.625rem;
                input {
                    background-color: transparent !important;
                    box-shadow: none !important;
                    border: none !important;
                    outline: none !important;
                    font-size: inherit;
                    color: #ffffff;
                    padding: 0;
                    &::placeholder {
                        color: #ffffff !important;
                    }
                }
                i {
                    color: #ffffff;
                    font-size: inherit;
                    padding: 0 1rem 0 0;
                }
            }
        }
        main {
            background-color: #242424;
            ul {
                li {
                    &.strong {
                        font-size: 0.95rem;
                        font-weight: 900;
                        color: #ffffff;
                        @media (max-width: 576px) {
                            cursor: pointer;
                        }
                        &[aria-expanded='false'] {
                            @media (max-width: 576px) {
                                padding: 1rem 0;
                            }
                        }
                        i {
                            display: none;
                            @media (max-width: 576px) {
                                display: inline-block;
                            }
                        }
                    }
                    a {
                        line-height: 2.1rem;
                        padding: 5px 0;
                        font-size: 0.85rem;
                        color: #9d9d9d;
                        &:hover {
                            text-decoration: none;
                            color: #ffffff;
                        }
                    }
                    &:empty {
                        display: none;
                    }
                }
                ul {
                    &.collapse {
                        @media (min-width: 576px) {
                            display: block !important;
                        }
                    }
                }
            }
        }
        .copyright {
            background-color: #f8f8f8;
            color: #95989a;
            font-size: 13px;
        }
    }
}
