@font-face {
  font-family: 'LincolnProximaNova';
  src: url('./assets/fonts/LincolnProximaNova-Bold.eot');
  src: url('./assets/fonts/LincolnProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/LincolnProximaNova-Bold.woff2') format('woff2'),
    url('./assets/fonts/LincolnProximaNova-Bold.woff') format('woff'), url('./assets/fonts/LincolnProximaNova-Bold.ttf') format('truetype'),
    url('./assets/fonts/LincolnProximaNova-Bold.svg#LincolnProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LincolnProximaNova';
  src: url('./assets/fonts/LincolnProximaNova-Italic.eot');
  src: url('./assets/fonts/LincolnProximaNova-Italic.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/LincolnProximaNova-Italic.woff2') format('woff2'),
    url('./assets/fonts/LincolnProximaNova-Italic.woff') format('woff'), url('./assets/fonts/LincolnProximaNova-Italic.ttf') format('truetype'),
    url('./assets/fonts/LincolnProximaNova-Italic.svg#LincolnProximaNova-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'LincolnMillerBannerBeta';
  src: url('./assets/fonts/LincolnMillerBannerBeta-LightItalic.eot');
  src: url('./assets/fonts/LincolnMillerBannerBeta-LightItalic.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/LincolnMillerBannerBeta-LightItalic.woff2') format('woff2'),
    url('./assets/fonts/LincolnMillerBannerBeta-LightItalic.woff') format('woff'), url('./assets/fonts/LincolnMillerBannerBeta-LightItalic.ttf') format('truetype'),
    url('./assets/fonts/LincolnMillerBannerBeta-LightItalic.svg#LincolnMillerBannerBeta-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'LincolnMillerB';
  src: url('./assets/fonts/LincolnMillerB-Bold.eot');
  src: url('./assets/fonts/LincolnMillerB-Bold.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/LincolnMillerB-Bold.woff2') format('woff2'),
    url('./assets/fonts/LincolnMillerB-Bold.woff') format('woff'), url('./assets/fonts/LincolnMillerB-Bold.ttf') format('truetype'),
    url('./assets/fonts/LincolnMillerB-Bold.svg#LincolnMillerB-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LincolnProximaNova';
  src: url('./assets/fonts/LincolnProximaNova.eot');
  src: url('./assets/fonts/LincolnProximaNova.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/LincolnProximaNova.woff2') format('woff2'),
    url('./assets/fonts/LincolnProximaNova.woff') format('woff'), url('./assets/fonts/LincolnProximaNova.ttf') format('truetype'),
    url('./assets/fonts/LincolnProximaNova.svg#LincolnProximaNova') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LincolnProximaNovaLight';
  src: url('./assets/fonts/LincolnProximaNova-Light.eot');
  src: url('./assets/fonts/LincolnProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/LincolnProximaNova-Light.woff2') format('woff2'),
    url('./assets/fonts/LincolnProximaNova-Light.woff') format('woff'), url('./assets/fonts/LincolnProximaNova-Light.ttf') format('truetype'),
    url('./assets/fonts/LincolnProximaNova-Light.svg#LincolnProximaNova') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lincoln-icons';
  src: url('./assets/fonts/lincoln-icons.eot');
  src: url('./assets/fonts/lincoln-icons.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/lincoln-icons.woff2') format('woff2'), url('./assets/fonts/lincoln-icons.woff') format('woff'),
    url('./assets/fonts/lincoln-icons.ttf') format('truetype'), url('./assets/fonts/lincoln-icons.svg#lincoln-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LincolnMillerB';
  src: url('./assets/fonts/LincolnMillerB-Roman.eot');
  src: url('./assets/fonts/LincolnMillerB-Roman.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/LincolnMillerB-Roman.woff2') format('woff2'),
    url('./assets/fonts/LincolnMillerB-Roman.woff') format('woff'), url('./assets/fonts/LincolnMillerB-Roman.ttf') format('truetype'),
    url('./assets/fonts/LincolnMillerB-Roman.svg#LincolnMillerB-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LincolnMillerB';
  src: url('./assets/fonts/LincolnMillerB-SemiboldItalic.eot');
  src: url('./assets/fonts/LincolnMillerB-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/LincolnMillerB-SemiboldItalic.woff2') format('woff2'),
    url('./assets/fonts/LincolnMillerB-SemiboldItalic.woff') format('woff'), url('./assets/fonts/LincolnMillerB-SemiboldItalic.ttf') format('truetype'),
    url('./assets/fonts/LincolnMillerB-SemiboldItalic.svg#LincolnMillerB-SemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'LincolnMillerBSemibold';
  src: url('./assets/fonts/LincolnMillerB-Semibold.eot');
  src: url('./assets/fonts/LincolnMillerB-Semibold.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/LincolnMillerB-Semibold.woff2') format('woff2'),
    url('./assets/fonts/LincolnMillerB-Semibold.woff') format('woff'), url('./assets/fonts/LincolnMillerB-Semibold.ttf') format('truetype'),
    url('./assets/fonts/LincolnMillerB-Semibold.svg#LincolnMillerB-Semibold') format('svg');
}

@font-face {
  font-family: 'LincolnMillerBannerBeta';
  src: url('./assets/fonts/LincolnMillerBannerBeta-Light.eot');
  src: url('./assets/fonts/LincolnMillerBannerBeta-Light.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/LincolnMillerBannerBeta-Light.woff2') format('woff2'),
    url('./assets/fonts/LincolnMillerBannerBeta-Light.woff') format('woff'), url('./assets/fonts/LincolnMillerBannerBeta-Light.ttf') format('truetype'),
    url('./assets/fonts/LincolnMillerBannerBeta-Light.svg#LincolnMillerBannerBeta-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
