@import '../variables';
.btn {
  outline: none;
  min-height: 50px;
  max-width: 270px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Antenna-Light';
  text-transform: uppercase;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  &:focus {
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  }
  &.btn-sm {
    min-height: 0;
    max-width: auto;
    width: auto;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  &.btn-primary {
    background-color: $brand-lightest;
    border: 1px solid $brand-lightest;
    &:hover {
      background-color: $brand-medium;
      border: 1px solid $brand-dark;
    }
    &:active {
      outline: none;
      background-color: #286090 !important;
      border-color: #204d74 !important;
    }
    &:focus {
      -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15) !important;
              box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15) !important;
      background-color: #286090;
      border-color: #122b40;
    }
  }
  &.btn-white {
    background-color: $white;
    color: $body-color;
  }
  &.no-transform {
    text-transform: none;
  }
  &-small,
  &.small {
    min-height: auto;
    font-size: 0.75rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.input-group-append,
.input-group-prepend {
  .btn {
    height: calc(2.25rem + 2px);
    min-height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.btn-link {
  &.disabled {
    pointer-events: none !important;
    opacity: 0.3 !important;
    i {
      pointer-events: none !important;
      opacity: 0.3 !important;
    }
  }
}
